@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0; }
ul,li{list-style: none;}
input{border:none;}
a {
    text-decoration: none;
    color:#000503;
    font-family: 'paybooc-Bold';
    font-style: bold;
}

body {background-color: #f6f6f6;}
.wrap {width: 540px; margin: 0 auto; height:auto; overflow:hidden; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
header {width: 540px; height:88px; background-color: #fff;}
header > .navbar {height:44px;}
.container{padding:0;}
.container > .navbar {
    width:540px; height:44px;
}
.col-xs-6 > .btn > a > img {
    width:100px; height:22px;
    margin-top:-23px;
}
.navbar > .container > .col-xs-3 {
    display: flex;
    margin-top:-18px;
}
.navbar > .container > .col-xs-3 > .icon > a {
    border:none;
    text-decoration: none;
}
.navbar > .container > .col-xs-3  > .icon > .map1 {
    margin-top:3px; margin-right:7.5px;
}
.navbar > .container > .col-xs-3  > .icon > .map1 > img {
    width:16px; height:22px;
}

.navbar > .container > .col-xs-3  > .icon > .navbar-toggler {
  padding:0;
}

.navbar > .container > .col-xs-3  > .icon > .navbar-toggler > img {
  width:28px; height:20px; 
}
.navbar > .container > .btn {
    display: flex;
    margin-top:-5px;
    margin-left:-15px;
}
.navbar > .container > .btn > img {
    width:24px; height:24px;
}
.navbar > .container > .btn > p {
    font-family: 'paybooc-Bold';
    margin-left:4px;
    margin-top:2px;
    font-size: 14px;
}
.navbar > .container > .col-xs-3 > .icon {
    margin-left:15px;
}

.nav > .nav-item > .nav-link {border:none;}

.offcanvas.offcanvas-start{
  width:300px;
  height:100%;
  padding:0;
}
.offcanvas > .offcanvas-header {
  width:367px;
  height:74px;}
 .offcanvas > .offcanvas-header > span {
  margin-top:-50px;
}
.offcanvas-header > .m-auto > .offcanvas-title {
    color:#000503;
    text-align:center;
    font-family: 'paybooc-Bold';
    font-style: bold;
}
.offcanvas > .offcanvas-body > div > .nav1 > .nav-item{
    color:#000503;
    font-family: 'paybooc-Bold';
    font-style: bold;
    font-size:16px;
    margin:0 auto;
    padding-top:25px;
}
.offcanvas > .offcanvas-body > div > .nav1 > .nav-item > .nav-link{
border:none;
}
.offcanvas > .offcanvas-body > div > .nav1{
 display:block;
}

.nav{
  background-color: #fff;
  display: flex;
}

.nav > .nav-item {
  color:#000503;
    font-family: 'paybooc-Bold';
    font-size:16px;
}

.nav > .nav-item > .nav-link{
    color:#000503;
    text-decoration: none;
    font-family: 'paybooc-Bold';
    font-size:16px;}

    .nav > .nav-item > .nav-link:active, .nav > .nav-item > .nav-link:hover {
    color: #ff3822;
    border-color: #ff3822;
    border-bottom: 4px solid #ff3822;
    height: 100%;
}

/* left banner 영역 */
.left_banner {
    position:absolute;
      margin: 80px 85px 1145px 0;
  }
  
  .left_banner > a > img {
    width: 259px;
    margin-left: 300px;
  }
  
  /* right banner 영역 */
 .right_banner1 {
    position:absolute;
      margin: 80px 85px 11145px 0;
  }
  
  .right_banner1 > a > img {
    width: 259px;
    margin-left:1130px;
  }
  
  .right_banner2 {
    position:absolute;
      margin: 80px 85px 1145px 0;
  }
  
  .right_banner2 > a > img {
    width: 259px;
    margin-top: 404px;
    margin-left:1130px;
}
  
    /* Map 영역 */
    section > .container6 {
        z-index:1;
      width:540px;
      height:auto;
      margin-bottom:30px;
      overflow:hidden;
    }
    section > .container6 > a {
        text-decoration: none;
    }
    section > .container6 > h2 {
      margin-top:45px;
      margin-left:30px;
      font-family: 'paybooc';
          color: #000503;
    }
    .container6 > .dropdown > .btn {
        width:120px;
        height:40px;
        font-family: 'paybooc-bold';
        color: #000503;
        background-color: #fff;
        margin-top:45px;
        margin-left:30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
}
.container6 > .dropdown > .dropdown-menu {
    border:none;
}

.container6 > .dropdown > .dropdown-menu > li > .dropdown-item{
    font-family: 'paybooc-bold';
        color: #000503;
}
.container6 > .dropdown > .dropdown-menu > li > .dropdown-item:hover{
    font-family: 'paybooc-bold';
        color: #fff;
        background-color: #ff3822;
}

/* library_map영역 */
.container6 > .Book > .Book-menu{
    margin-top: 40px;
}

.container6 > .Book > .Book-menu > .Book-category {
    margin-top:10px;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item {
    background:#fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
    width:480px;
    height:120px;
    border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    -ms-border-radius: 7.5px;
    -o-border-radius: 7.5px;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a {
    text-decoration: none;
    color:#000503;
    background-color: #fff;
    padding:10px;
    font-family: 'paybooc-bold';
    font-size:16px;
    display: flex;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-image {
    margin-top:5px;
    margin-left:5px;
    width:90px;
    height:90px;
    background-color: #fff;
}

.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-image > img{
    border-radius: 5px;
    width:90px;
    height:90px;
}

.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title {
    margin-top:5px;
    margin-left:10px;
    width:350px;
    height:90px;
    display:block;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title > hr {
    margin-top:-11px;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title > h4 {
    color:#000503;
    font-family: 'paybooc-bold';
    font-size:16px;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title > p {
    color:#a8a8a8;
    font-family: 'paybooc-bold';
    font-size:12px;
}

.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title > .Book-icon {
    margin-top:-12px;
    display: flex;
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title > .Book-icon > p {
    font-size:12px;
    margin-top:2px;
    margin-left:-3px;
    font-family: 'paybooc-bold';
}
.container6 > .Book > .Book-menu > .Book-category > .Book-item > a > .Book-title > .Book-icon > .Book_icon_img {
    width: 8.5px;
    height: 11.3px;
    margin: 5px 7.1px 2.9px 1px;
}
                /* footer영역 */
            footer {
              width: 540px;
              height: 195px;
              background-color: #e2e2e2;
              padding:6.125px;
            }
            footer > section > a {
                text-decoration: none;
            }

            footer > section > a > .e-mail {
                margin-left:175px;
                margin-top:12.5px;
                font-family: paybooc;
                font-size: 11px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                color: #000503;
            }
            footer > section > hr  {
              width: 480px;
              height: 0.5px;
              margin-top:15px;
              margin-bottom:15px;
              margin-left:22.5px;
              background-color: #707070;
              border:none;
            }
            footer > section > .copyright {
              font-size:11px;
              text-align:center;
              margin-left:-5px;
            }
            footer > section > .address {
              font-size:11px;
              margin-top:10px;
              text-align:center;
              margin-left:-5px;
            }
            footer > section > .Rules {
              font-size:11px;
              margin-top:10px;
              text-align:center;
              margin-left:-5px;
            }
    