<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
</head>
  <body>
    <h1>[]'s mypage.</h1>
    <a href="/user/mypage/info">개인정보확인</a>
    <a href="/user/mypage/reservation">예약정보확인</a>
    <a sec:authorize="hasRole('SALLER')" href="/user/mypage/sale">현재판매목록</a>
    <a href="/user/mypage/heart">좋아요목록</a>
  </body>
</html>